body {
    font-family: 'Noto Serif', serif;
}

@font-face {
    font-family: "TrajanPro";
    src:
        local('TrajanPro Regular'),
        local('TrajanPro'),
        url("../fonts/TrajanPro-Regular.ttf");
}

/* Containers */

.aboutpic-container {
    height: 85vh;
    background: url(../images/about.jpg) no-repeat;
    background-size: cover;
    background-position: 0% -75px;
}

.pricing-container {
    height: 123vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/pricing.jpg) no-repeat;
    background-size: cover;
    position: relative;
    
}

.pricing-container img {
    width: 100%;
    height: auto;
}

.pricing-content {
    padding: 50px;
    color:white;
}

.pricing-content h1 {
    font-size:6rem;
}

.pricing-box {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 400px;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: rgba(229, 255, 245, 0.5);
    color: #152019;
    padding-left:.5em
}


.container-wrapper {
    text-align: center;
}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.outer
{
  height: 30vh;
  width: 100%;
  overflow: hidden;
  
}

.callout-container {
    height: 30vh;
    background: url(../images/new_logo2.png) no-repeat fixed;
    background-size: contain;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

.expect-container {
    height: 85vh;
    background: url(../images/what_shiatsu1.jpg) no-repeat;
    background-size: cover;
    background-position: 0% -180px;
}

.whatexpect-container {
    height: 90vh;
    background: url(../images/whatexpect.jpg) no-repeat;
    background-size: cover;
    background-position: 0% -135px;
}

.expect {
    position: relative;
    top: -75px;
}

.expect-text {
    font-size: 1.7rem;
    background: white;
    padding-top: 10px;
    padding-right: 19px;
    padding-bottom: 10px;
    padding-left: 19px;}

.quotes-container {
    background: rgba(229, 255, 245, 0.5);
}

.about-container {
    background: rgb(120, 159, 144);
    color: white;
}

.price-container {
    height: 100vh;
    background: url(../images/aromatherapy.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
}

.price-box {
    align-items: center;
    justify-content: center;
    background: rgba(229, 255, 245, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif";
    font-size: 18px;

}

.img-left {
    float: left;
    width: 14%;
    padding: 5px;
}

.img-right {
    float: right;
    width: 14%;
    padding: 5px;
}

.content-container {
    padding-top: 0px;
    padding-bottom: 25px;
}

.extra-bold {
    font-weight: bolder;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif
}


/* Navbar */

.navbar {
    /* background-image: url('../images/marble_bg.jpg'); */
    background-color: rgb(120, 159, 144);
    color: #7FFFD4;
    background-position: right;
    text-align: right;
    font-family: TrajanPro;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar .navbar-brand {
    font-size: 1.9em;
    font-weight: bold;
    color: #81a1ca;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
    font-weight: bold;
    color: lightgray;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

#cursive-text {
    font-family: 'Dancing Script', cursive;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 100px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    margin-top: 20px;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    padding:15px;
    padding-left:15px;
}

h2 {
    font-family: TrajanPro;
}

.page-header h2 {
    margin-top: 0;
}

.price-heading {
    color: white;
    padding-top: 35px;
}

/* Testimonials */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
    text-align: center;
}

blockquote footer {
    text-align: center;
}

.quotefooter {
    text-align: right;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.contact-box {
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    margin: 20px;
}

a {
    color: white;
}

.mobile {
    display: none;
}

@media (max-width: 840px) {
    .price-box {
        font-size: 2rem;
    }
    .callout-container {
        margin-top: 50px;
        padding-top: 25px;
        background: url(../images/new_logo2.png) no-repeat fixed;
        display: block;
        background-size: 100% auto;
        animation: none;
    }
}

@media (max-width: 800px) and (min-width:500px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }

    .pricing-container {
        width: 100vw;
        background-size: cover;
        background-position: center;
    }

    .aboutpic-container {
        background-position: center;
    }
    .outer {
        height: 165px;
    }

    .img-left {
        width: 25%;
    }

    .img-right {
        width: 25%;
    }

    .callout-container {
        
        margin-top: 50px;
        padding-top: 25px;
        background: url(../images/new_logo2.png) no-repeat fixed;
        display: block;
        background-size: 100% auto;
        animation: none;
        background-position-y: 50px;
    }

    .whatexpect-container {
        height: 30vh;
        background-size: cover;
        background-position: center;
    }


    .expect-container {
        height: 30vh;
        margin-top: 50px;
        padding-top: 150px;
        background-position: 0 -200px;
    }

    .price-container {
        height: 300vh;
    }

    .jumbotron h1 {
        font-size: 2.5em;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}


@media (max-width: 499px) {

    .bm {
        margin-bottom: 20px;
    }

    .aboutpic-container {
        background-position: center;
    }
    .outer {
        height: 115px;
    }

    .img-left {
        width: 25%;
    }

    .img-right {
        width: 25%;
    }

    .callout-container {
        height: 75px;
        margin-top: 50px;
        /* padding-top: 20px; */
        background: url(../images/new_logo2.png) no-repeat fixed;
        background-size: 100%;
        background-position-y: 50px;
        animation: none;
        display: block;
    }

    .pricing-container {
        width: 100vw;
        background-size: cover;
        background-position: center;
    }

    .jumbotron h1 {
        font-size: 1.8em;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .price-box {
        font-size: 1.3rem;
        padding: 10px;
    }

    .quotes .page-header {
        margin-bottom: 5px;
    }

    .expect-container {
        height: 50vh;
        background: url(../images/what_shiatsu1.jpg) no-repeat;
        background-size: contain;
    }

    .whatexpect-container {
    height: 45vh;
    background-size: contain;
    background-position: center;
}

    .price-container {
        height: 150vh;
    }

    .expect {
        position: relative;
        top: 0;
    }

    .expect-text {
        font-size: 1.5rem;
        background: white;
    }
}

.selectLanguage {
    height: 32px;
    width: 32px;
    border: 0;
    background-color: transparent;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 8px;
    padding: 0;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .outer {
        height: 415px;
    }
    .callout-container {
        height: 375px;
        margin-top: 50px;
        padding-top: 25px;
        background: url(../images/logo_new.png) no-repeat fixed;
        display: block;
        background-size: 100% auto;
        animation: none;
    }
}

